#app {
    height: 100vh;
    min-width: 976px; // (1024 - 48)

    .el-button {
        border-radius: 2px;
    }
}

.el-dialog {
    padding: 12px;
    .el-dialog__body {
        padding: 12px;
    }
    .el-dialog__header {
        .el-dialog__title {
            font-size: 14px;
            font-weight: bold;
        }
        margin-right: 0;
        padding: 2px 20px 12px 20px;
        border-bottom: 1px solid #e4e4e4;
    }
    .el-dialog__footer {
        padding: 0 16px 16px 0;
        .dialog-footer {
            .el-button {
                padding-left: 24px;
                padding-right: 24px;
            }
            .el-button + .el-button {
                margin-left: 30px;
            }
        }
    }
}

.el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
    &:focus {
        outline: none;
    }
}